@import "./Variables";

.testcolorchange {
  color: var(--color);
}

.card {
  border: 1px solid $progressBar-bg--color-light;
  background: $progressBar-bg--color;
  color: $progressBar-bg--color-dark;

  /* cursor: pointer; */
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
  max-width: 90%;
  margin-bottom: 1rem;
  /* padding-bottom: 30rem!important; */
}

.clipboardinside {
  height: fit-content;
  min-height: 8rem;
  &text {
    height: fit-content;
    overflow-y: scroll;
    font-weight: 600;
    font-size: 0.8rem;
    border: 1px solid $progressBar-bg--color-light;
    background: $progressBar-bg--color;
    color: $progressBar-bg--color-dark;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem;
    margin: auto;
    padding: 0 0.5rem 0.5rem 0.5rem;
    max-width: 98%;
    margin-bottom: 1rem;
  }
}
.insidetitle {
  color: white;
  font-size: 0.8rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  text-align: center;
  background: rgba(54, 162, 235, 1);
  padding: 0.3rem 0 0 0;
  overflow-x: hidden;
}
.insidecontent {
}
.inputinside {
  color: white !important;
  height: 30rem;
  min-height: 16rem;
  overflow-y: scroll;
}

.topchart {
  background-color: rgb(0, 0, 5);
  background-image: url("../../public/Images/pexels-polina-zimmerman-3782235.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  opacity: 0.85;
}

.topTwitter {
  background-color: rgb(0, 0, 5);
  background-image: url("../../public/Images/pexels-polina-zimmerman-3782235.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  opacity: 0.85;
  /* filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg); */
}

.topchartdetail {
  background-color: rgb(37, 54, 106);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  opacity: 0.95;
  color: white;
}

.has_text_left {
  color: white;
}

.ReadMorebtc {
  color: rgb(22, 160, 252);
}

.HeroPlace {
  display: -ms-grid;
  display: grid;
  /* grid-auto-flow: row; */
  /* gap: 1rem;
  align-content: center; */
  height: fit-content;
  max-height: fit-content;
  min-height: fit-content;
  grid-auto-flow: column;
  align-content: center;
  gap: 1rem;
}

.HeroPlaceWif {
  display: -ms-grid;
  display: grid;
  height: minmax(22rem, fit-content);
  grid-auto-flow: column;
  align-content: center;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.chartdisplay {
  /* overflow: hidden; */
  display: block;
  z-index: 999;
  overflow: visible;
  display: block;
  z-index: 999;
  margin-left: 0;

  /* overflow: visible;
  display: block;
  z-index: 999;
  margin-left: 0; */
}

.chartdisplayWif {
  /* overflow: hidden;
  display: block;
  z-index: 999; */
  color: white;
  text-align: left;
  padding: 0rem 1rem 2rem 0rem;
  overflow: visible;
  display: block;
  z-index: 999;
  margin-left: 0;
}
.chartdisplayWif ul {
  padding-left: 0.5rem;
  list-style: circle;
}

.chartdisplayWif li {
  overflow: hidden;
  display: block;
  z-index: 999;
  color: white;
  text-align: left;
  padding: 0rem 1rem 0rem 0rem;
}

.chartdisplayWif b {
  color: aqua;
}
/* .chartdisplayWif li :nth-child(2) {
  color: white;
  margin-left: 25%;
} */

.infodisplay {
  /* overflow: scroll; */

  overflow: auto;
}

.App {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.area {
  height: 400px;
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  overflow: scroll;
}

.regixText {
  width: 60%;
  text-align: justify;
  text-justify: inter-word;
}

.OtherText ul,
.OtherText {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  color: white;
  list-style: circle;
}

.OtherText li {
  color: white;
  list-style: circle;
}

.ImageEditor {
  all: revert;
  margin: 1rem auto;
  max-width: 100%;
  min-height: 14rem;
  background: $progressBar-bg--color;
  border: 1px solid $progressBar-bg--color-light;
  border-radius: 1rem;
  padding: 1rem;

  @media (min-width: 60rem) {
    display: grid;
    position: fixed;
    left: 5%;
    bottom: 1rem;
    z-index: 999;
    background: $progressBar-bg--color;
    min-height: 14rem;
    border: 10px solid $progressBar-bg--color-light;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px $progressBar-bg--color-dark;
    font-size: 0.8rem;
  }

  & label {
    color: $progressBar-bg--color-dark;
  }

  & > div {
    gap: 0.5rem;
  }

  &__float {
    display: grid;
    position: fixed;
    left: 5%;
    bottom: 1rem;
    z-index: 999;
    background: $progressBar-bg--color;
    min-height: 14rem;
    border: 10px solid $progressBar-bg--color-light;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px $progressBar-bg--color-dark;
    font-size: 0.8rem;

    & label {
      color: $progressBar-bg--color-dark;
    }

    & > div {
      gap: 0.5rem;
    }
  }
}

.flextbtn {
  display: flex;
  top: 0;
  margin: 0 auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 80%;
}

.codesapmle {
  width: 55vw;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgb(196, 196, 196);
  opacity: 0.95;
  color: black;
}

@media (max-width: 50rem) {
  .clipboardinside {
    /* height: 10rem; */
  }

  .flextbtn {
    display: flex;
    top: 0;
    margin: 0 auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 80%;
  }

  .HeroPlace {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;
    align-content: center;
    gap: 1rem;
  }

  .HeroPlaceWif {
    display: -ms-grid;
    display: grid;
    height: minmax(22rem, fit-content);
    grid-auto-flow: row;
    align-content: center;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .clipboardinsidetext {
    color: rgb(37, 54, 106) !important;
    /* height: 8rem; */
    min-height: 100%;
    overflow-y: scroll;
    font-weight: 600;
    font-size: 0.88rem;
    border: 1px solid rgba(54, 162, 235, 1);
    background: rgba(54, 162, 235, 1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    border-radius: 10px;
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin: auto;
    max-width: 100%;
    line-height: 1.2;
  }
  .chartdisplay {
    font-size: 10px;
    padding-left: 0px;
    margin-left: -30px;
    overflow: hidden;
  }
  .chartdisplayWif {
    font-size: 10px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .regixText {
    width: fit-content;
  }
}
