@import "./Variables";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tableContainer {
  color: antiquewhite;
  flex: 1 1 24%;
  min-width: 100%;
  height: fit-content;
  width: 100%;
  max-width: 100%;
}

.mycard {
  border: 1px solid $progressBar-bg--color-light;
  border-radius: 10px;
  background: lighten($color: $progressBar-bg--color, $amount: 60%);
  color: $progressBar-bg--color-dark;
  box-shadow: 0 2px 8px $progressBar-bg--color-shadow;
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  min-height: 10rem;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: fit-content;
  margin-top: 4rem;
  padding-top: 3rem;
  position: relative;
  text-transform: capitalize;
  grid-row: span 1;
}

.container2 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  overflow: hidden;
}
.tableContainer2 {
  color: antiquewhite;
}

.mycard2 {
  border: 1px solid rgba(54, 162, 235, 1);
  border-radius: 10px;
  background: rgba(54, 162, 235, 0.2);
  color: antiquewhite;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  min-height: 10rem;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: fit-content;
  margin-top: 4rem;
  padding-top: 3rem;
  position: relative;
  text-transform: capitalize;
  grid-row: span 1;
}

.mycardImage {
  border: 1px solid $progressBar-bg--color-light;
  border-radius: 50%;
  padding: 0.5rem;
  background: $progressBar-bg--color;
  position: absolute;
  top: -3rem;
  left: 50%;
  margin-left: -50%;
  width: 60px !important;
  height: 60px;
}

.mycard meter {
  color: rgba(54, 162, 235, 1);
  height: 50px;
  display: block;
}

meter::-webkit-meter-bar {
  background: rgb(57, 133, 197);
  border: none;
}

meter::-webkit-meter-optimum-value {
  background: rgba(54, 162, 235, 1);
}

.infotext {
  font-weight: 600;
  text-align: justify;
}
.infotext a {
  text-align: justify;
  font-weight: 600;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.regextexandhelp {
  /* display: flex; */
  gap: 1rem;
  overflow: hidden;
}
.tableContainerdragndrop {
  color: antiquewhite;
  flex: 1 1 24%;
  min-width: 80%;
  max-width: 80%;
  height: fit-content;
}
tableContainerdragndrop * {
  word-break: break-word;
}

@media (min-device-width: 45rem) {
  .mycard {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: fit-content;
    min-height: 25rem;
  }
  .regextexandhelp {
    display: flex;
    gap: 1rem;
    grid-template-columns: 6fr 1fr;
  }
  .tableContainer {
    color: antiquewhite;
    flex: 1 1 24%;
    min-width: 20ch;
    height: fit-content;
  }
  .tableContainerdragndrop {
    color: antiquewhite;
    flex: 1 1 24%;
    min-width: 100%;
    max-width: 100%;
    height: fit-content;
  }
  tableContainerdragndrop * {
    word-break: break-word;
  }
}
