// // .generator {
// //   display: flex;
// //   justify-content: space-around;
// //   align-items: center;
// //   flex-direction: column;
// // }

// // .controls {
// //   display: flex;
// //   justify-content: center;

// //   label {
// //     color: white;
// //   }
// // }

// // .NewTable {
// //   width: minmax(fitcontent, 100%);
// //   margin: 1rem auto;
// //   padding: 0;
// //   background-color: #332f4a;
// //   border: none;
// //   border-radius: 1rem;
// // }

// // tr {
// //   background-color: #233465;
// // }

// // th {
// //   margin: 5px;
// //   padding: 15px;
// //   color: #99dce7;
// //   background-color: #365e80;
// // }

// // td {
// //   padding: 15px;
// //   text-align: center;
// // }

// input {
//   width: 70px;
//   padding: 5px;
//   margin: 10px;
//   font-size: 16px;
//   background: #dfe7ff;
//   border: none;
//   border-radius: 5px;
// }

// .button {
//   margin-top: 15px;
//   padding: 9px 30px;
//   border: none;
//   border-radius: 5px;
//   background-color: #fdc754;
//   color: #630f71;
//   font-size: 16px;
//   font-weight: 700;
//   cursor: pointer;
//   outline: none;
//   transition: transform 0.1s cubic-bezier(0.77, 0.2, 0.05, 1);

//   &:active {
//     transform: scale(0.97);
//   }

//   &:focus {
//     border: 2px dashed black;
//   }
// }

// .table-placeholder {
//   max-width: 50vw;
//   width: 100%;
//   margin: 20px auto;

//   &.hidden {
//     display: none;
//   }

//   &__row {
//     width: 100%;
//     display: flex;

//     &:nth-child(1) {
//       .table-placeholder__item {
//         background: #198aec;
//       }
//     }
//   }

//   &__item {
//     display: flex;
//     min-width: 7rem;
//     width: 100%;
//     height: 36px;
//     margin: 2px;
//     background: #f1f5f9;
//     border-radius: 5px;
//     justify-content: center;
//     align-items: center;
//   }
// }

// .inputInsideT {
//   background: #198aec;
// }
// .inputInsideO {
//   background: #f1f5f9;
// }
